@font-face {
    font-family: "Graphik LCG";
    src: url("./fonts/Graphik-Medium-Web.woff");
    font-weight:normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    font: 1em/1.4 Arial;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 20px;
}
nav {
    background-color: black;
    border-bottom: #C4C4C4 1px solid;
    position: relative;
    z-index: 3;
    .navigation {
        max-width: 1920px;
        margin: 0px 64px 0px 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 76px;
    }
    .label {}
    .menu {
        width: 45%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div, a {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a {
            text-decoration: none;
            width: 185px;
            height: 37px;
            background: linear-gradient(286.69deg, #5C9FF9 -16.34%, #2869CA 97.2%), #C4C4C4;
            border-radius: 3px;
        }
        div p, a p {
            
        }
        div {
            p {
                margin: 0;
                font-family: 'Graphik LCG', sans-serif;
                font-size: 14px;
                color: white;
            }
        }
        a {
            p {
                margin: 0;
                font-family: 'Graphik LCG', sans-serif;
                font-size: 14px;
                color: white;
            }
        }
    }
}


.main {
    background-color: black;
    height: 764px;
    z-index: 1;
    /*display: flex;*/
    /*align-items: center;*/
    .laptop {
        position: absolute;
        top: 183px;
        right: 333px;
        z-index: 3;
    }
    .cookingGays {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }
    .headline {
        display: inline-block;
        position: absolute;
        right: 1044px;
        top: 282px;
        z-index: 4;
        height: fit-content;
        max-width: 467px;
        float: left;
        p {
            display: inline-block;
            font-family: 'Graphik LCG', sans-serif;
            font-size: 18px;
            line-height: 34px;
            float: left;
            color: white;
        }
    }
}


.task {
    h1 {
        font-size: 45px;
        line-height: 74px;
        font-family: 'Graphik LCG', sans-serif;
    }
    p {
        font-size: 18px;
        line-height: 34px;
        font-family: 'Graphik LCG', sans-serif;
        color: #333333;
    }
}
.decision {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    h1 {
        font-size: 45px;
        line-height: 74px;
        font-family: 'Graphik LCG', sans-serif;
    } 
    p {
        font-size: 18px;
        line-height: 34px;
        font-family: 'Graphik LCG', sans-serif;
        color: #333333;
        padding-bottom: 40px;
    }
}
.conceptDesign {
    h1 {
    font-size: 45px;
    line-height: 74px;
    font-family: "Graphik LCG", bold, sans-serif;
    }
}


.redEgg {
    background-image: url("img/Ellipse.png");
    background-repeat: no-repeat;
    background-size: contain;
    .head_redEgg {
        display: flex;
        justify-content: space-between;
        /*flex-wrap: wrap;*/
        .nav_rightBorder {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            li {
                position: relative;
                display: block;
                text-align: right;
                font-family: 'Graphik LCG', sans-serif;
                color: #333333;
                font-size: 32px;
                line-height: 52px;
            }
            li:after {
                position: absolute;
                top:-10px;
                right:0;
                width:10%;
                border-top:5px solid #FD3300;
                content:"";
            }
        }
    }
    .bodyEgg {
        margin-top: 45px;
        display: flex;
        justify-content: flex-start;
    }
    .footerEgg {
        margin-top: 45px;
        display: flex;
        justify-content: flex-end;
    }
    .booking_ticket {
        h1 {
            font-size: 45px;
            line-height: 74px;
            font-family: 'Graphik LCG', sans-serif;
        }
        p {
            font-family: Graphik LCG, sans-serif;
            font-size: 18px;
            line-height: 34px;
            color: #333333;
        }
    }
}


.nav_beforeTable {
    margin-top: 173px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;

    .imgGears, .imgTouch, .imgDashboard {
        display: block;
        margin: 0 auto;
    }
}